.post-cmp {
    .post-title {
        text-align:center;
        background: #ECEFF1;  
        color:#263238;   
        .date {
            font-weight: bold;
        }
    }
    border-radius:1px;
}

